.button {
    border: 1px solid var(--border-color);
    min-height: 2.5rem;
    border-radius: .3rem;
    padding: .5rem 2.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--link-dark-color);
    color: var(--white-color);
    cursor: pointer;
    transition: background-color .2s ;
}

.button:disabled {
    cursor: auto;
    color: var(--input-disabled-color);
    background-color: #fdfafa;
}

.button:enabled:hover {
    background-color: var(--link-light-color);
}

