.input {
    font-family: inherit;
    color: inherit;
    border: 1px solid var(--border-color);
    min-height: 1.75rem;
    border-radius: .25rem;
    padding: 0 .75rem;
    font-size: .8rem;
}

.input:focus {
    outline: 1px solid #585858;
}

input:disabled {
    font-family: inherit;
    color: var(--input-disabled-color);
    background-color: #fdfafa;
}