.containerTask {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    background-color: yellow;
    font-size: .8rem;
    padding: 1.2rem 1.5rem;
    gap: 1rem;
    min-width: 34rem;
}

h2 {
    padding-bottom: .5rem;
}

h3 {
    font-size: .85rem;
}

header {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.flex {
    display: flex;
    align-items: center;
    gap: .2rem;
}

footer {
    display: flex;
    justify-content: space-between;
}