.containerSectionMain {
    min-width: 31rem;
    place-self: center;
}

.formLogin {
    display: grid;
    padding: 2rem;
    gap: 2rem;
}

.labelJustifyCenter {
    justify-self: center;
    font-size: 2.5rem;
}

.inputHeight{
    min-height: 2.3rem;
}

.row {
    display: grid;
    gap: 1rem;
}

.subRow {
    display:flex;
    flex-direction: column;
    gap:.5rem;
    min-width: 5rem;
}

